name: Run Notebook

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  run-notebook:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          environment-file: environment.yml
          activate-environment: russell-rd
          auto-activate-base: false

      - name: Run notebook
        shell: bash -l {0}
        run: |
          jupyter nbconvert --to notebook --execute project.ipynb

      - name: Run tests
        shell: bash -l {0}
        run: |
          pytest tests/
